
#dashboard {
    width: 100%;
    height: 700px;
}

#tableChart {
    width: 1700px;
    height: 900px;
}

.dashboard-container {
    width: 100%;
}

.jumbotron {
    padding-bottom: 10px!important;
    margin-bottom: 10px!important;
}

/*http://paletton.com/#uid=63H0R0kl7m0umP8pIukg3d9b84q*/