body, html {
    height: 100%;
}

#dashboard{
    width: 100%;
}

#filterForm {
    margin-bottom: 20px;
}

.dataTableWrapper {
    margin-bottom: 10px;
}

#stringControlRow {
    width: 0px;
}

#tableChartRow {
    width: 100%;
}

#tableChart {
    width: 100%;
}

#search {
    margin-bottom: 30px;
}

.dashboard-container {
    width: 100%;
}

.vertical-container {
    margin-top: 20px;
}

#daterange {
    width: 300px;
}

#slice {
    width: 60px;
}

.availablehosts {
    color: #9d9d9d;
    font-size: 18px;
    padding: 10px 10px 0px 0px;
}

.navbar-brand {
    padding: 8px 5px !important;
    height: 70px !important;
    margin-right: 10px !important;
}

#placeholderContainer {
    color: #b2c4cb;
    height: 600px;
}

#placeholderContainer div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#placeholderContainer div span {
    text-align: center;
    display: block;
}

#loaderspinner div {
    color: #b2c4cb;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}

#welcomeMessage {
}

/*spinning loader*/

.glyphicon-refresh-animate {
    margin-top: 100px;
    font-size: 240px;
    -animation: spin 1.7s infinite linear;
    -webkit-animation: spin2 1.7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}