<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="Log Scrubber client"/>
  <meta name="author" content="Sven Schittecatte"/>
  <link rel="icon" th:href="@{/favicon.ico}"/>

  <title>LogScrubber</title>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'/>
  <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Log Scrubber</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <div class="form-group">
            <button type="button" class="btn btn-primary refreshRanges">refresh</button>
          </div>
          <select id="range" class="form-control">
          </select>
        </div>
        <div class="form-group">
          <select type="text" id="slice" class="form-control">
          </select>
        </div>
        <button type="button" class="btn btn-primary getslice">get Slice</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h2 th:text="${host}"></h2>
    <h2 id="rangeTitle"></h2>
  </div>
</div>
<div class="container" id="search">
</div>

<div class="dashboard-container">
  <table id="dashboard">
    <tr>
      <td id="stringControlRow">
        <div id="stringControl"></div>
      </td>
      <td id="tableChartRow">
        <div id="tableChart"></div>
      </td>
    </tr>
  </table>
  <hr/>

  <footer>
    <p>&copy; Singular</p>
  </footer>
</div> <!-- /container -->

<link th:href="@{/style.css}" rel='stylesheet' type='text/css'/>

<script type="text/javascript">
  google.load('visualization', '1.1', {packages: ['controls']});
</script>

<script type="text/javascript" th:src="@{/barchart.js}"></script>
<script th:inline="javascript">
//    <![CDATA[

$(".getslice").click(function() {
  $.get("http://localhost:8090/json?host=" + [[${host}]] + "&from=" + $("#range option:selected").val() + "&slice=" + $("#slice").val(), function(data) {
    dataTable = new google.visualization.DataTable();
    fillDatatable(data);
    basicSetup();
    drawTable();
  });
});

$(document).ready(function(){
  getRanges();
  getSlice();
  $('.dropdown-toggle').dropdown();
});

$(".refreshRanges").click(function() {
  getRanges();
});

function getRanges() {
  var listRanges = [];
  $.ajax({
    url: "http://localhost:8090/ranges?host=" + [[${host}]] + "",
  }).then(function (data) {
    $.each(data, function (index) {
      listRanges.push("<option>" + this + "</option>");

    });
    $("#range").children().remove();
    $("#range").append(listRanges.reverse());
  });
}

function getSlice() {
  $.ajax({
    url: "http://localhost:8090/timeslice",
  }).then(function (data) {
    for(var slice = data; slice <= 60; slice = slice + data) {
      $("#slice").append("<option>" + slice + "</option>");
    }
  });
}

window.onload = drawTable();
window.onresize = drawTable;

//    ]]>
</script>
</body>
</html>