<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Log Scrubber client"/>
    <meta name="author" content="Sven Schittecatte"/>
    <link rel="icon" th:href="@{/favicon.ico}"/>

    <title>LogScrubber</title>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script th:src="@{bower_components/bootstrap/dist/js/bootstrap.js}"/>
    <script th:src="@{bower_components/moment/moment.js}"/>
    <script th:src="@{bower_components/bootstrap/js/transition.js}"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

    <link th:href="@{bower_components/bootstrap/dist/css/bootstrap-melexis-branding.css}" media='screen' rel='stylesheet' type='text/css'/>
    <link th:href="@{css/style.css}" rel='stylesheet' type='text/css'/>

</head>

<body>

<nav class="navbar navbar-fixed-top bg-primary">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="melexis_logo" class="navbar-header">
                <a class="navbar-brand" href="/">
                    <img th:src="@{images/melexis_logoBaselineWhite.png}"/>
                </a>
            </div>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav availablehosts">
                <li class="navbar-right">
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input class="form-control" type="text" name="daterange" value="01/01/2015 1:30 PM - 01/01/2015 2:00 PM" />
                        </div>
                        <button type="button" class="btn btn-info">Get</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="vertical-container">
    <div class="row" th:each="host, index : ${hosts}">
        <div class="col-xs-6 col-sm-4"></div>
        <div class="col-xs-6 col-sm-4 text-center">
            <a class="btn btn-primary host" th:href="@{barchart/{host}(host=${host})}"><span th:text="${host}"></span></a>
        </div>
        <div class="col-xs-6 col-sm-4"></div>
    </div>

    <hr/>
</div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">&copy; Singular</p>
    </div>
</footer>

<script type="text/javascript">
    $(function() {
        $('input[name="daterange"]').daterangepicker({
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'MM/DD/YYYY h:mm A'
            }
        });
    });
</script>
</body>
</html>