<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2 id="range"></h2>
<canvas id="myChart" width="1000" height="400"></canvas>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"/>
<script type="text/javascript" src="/chart.js"/>
<script>
//    <![CDATA[
var client = new XMLHttpRequest();
var json;
var loglines;
var query = "";
var labels = [];
var tags = [];
var averages = [];
var maxs = [];
var scale = 5;

client.onreadystatechange = function() {
    if (client.readyState == XMLHttpRequest.DONE) {
        json = JSON.parse(client.responseText);
        loglines = json.logLines;
        document.getElementById("range").innerHTML = json.range;

        for (var i = 0; i < loglines.length; i++) {
            if(loglines[i].tag.indexOf(query) > -1) {
                labels.push(loglines[i].tag);
                tags.push(loglines[i].tag);
                averages.push(loglines[i].average);
                maxs.push(loglines[i].max);
            }
        }

        var ctx = document.getElementById("myChart").getContext("2d");

        var data = {
            labels: labels,
            datasets: [
                {label: "blub",
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: averages}]
        };

        var options = {
            // Boolean - If we want to override with a hard coded scale
            scaleOverride: true,

            // ** Required if scaleOverride is true **
            // Number - The number of steps in a hard coded scale
            scaleSteps: scale,
            scaleStepWidth: 20
        };

        var myBarChart = new Chart(ctx).Bar(data, options);
    }
}
client.open("GET", "http://localhost:8090/json", true);
client.send(null);
//    ]]>
</script>
</body>
</html>
