<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>LogScrubber</title>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Log Scrubber</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <select id="range" class="form-control">
          </select>
        </div>
        <div class="form-group">
          <input type="text" id="slice" placeholder="TimeSlice" class="form-control">
        </div>
        <button type="button" class="btn btn-primary getslice">get Slice</button>
      </form>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <h2>esb-a-test.erfurt.elex.be</h2>
  </div>
  </div>
</div>
<div class="container" id="search">
</div>
<div class="dashboard-container">
  <table id="dashboard">
    <tr>
      <td>
        <div id="stringControl"></div>
      </td>
      <td>
        <div id="tableChart"></div>
      </td>
    </tr>
  </table>

  <hr>

  <footer>
    <p>&copy; Singular</p>
  </footer>
</div> <!-- /container -->

<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'/>
<link href='../static/style.css' rel='stylesheet' type='text/css'/>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script type="text/javascript">
  google.load('visualization', '1.1', {packages: ['controls']});
</script>
<script type="text/javascript" src="../static/barchart.js"></script>
<script>
//    <![CDATA[

var ranges;

function moveSearchInput() {
  $.each(data, function(index) {
    $("select").append("<option>" + this + "</option>");
  });
}

$(".getslice").click(function() {
  $.get("http://localhost:8090/json?host=esb-a-test.erfurt.elex.be&from=" + $("#range option:selected").val() + "&slice=" + $("#slice").val(), function(data) {
    dataTable = new google.visualization.DataTable();
    tags = data;
    drawBasic();
    dashboard.draw(dataTable);
  });
});

$(document).ready(function(){
  $('.dropdown-toggle').dropdown();
});

$.ajax({
  url: "http://localhost:8090/timeslices?host=esb-a-test.erfurt.elex.be",
}).then(function(data) {
  ranges = data;
  $.each(data, function(index) {
    $("select").append("<option>" + this + "</option>");
  });
});

$.ajax({
    url: "http://localhost:8090/json?host=esb-a-test.erfurt.elex.be&from=2016-04-15 16:05:00&slice=5",
}).then(function(data) {
    tags = data;
    drawBasic();
    dashboard.draw(dataTable);
});
//    ]]>
</script>
</body>
</html>